html,
body,
#root {
  height: 100%;
  background: #000;
  margin: 0;
}

.ant-layout {
  height: 100%;
}

.ant-layout-content {
  overflow: auto;
  padding-left: 180px;
  padding-right: 180px;
  background-color: #000; /* Ensure background color matches */
}

.ant-layout-sider {
  overflow: auto;
}

.ant-card {
  background: #121212;
  color: #fff;
}

.ant-card-actions > li > span {
  color: #fff;
}

/* Increase specificity if necessary */
.ant-layout .ant-card {
  background: #121212;
  color: #fff;
}

.ant-statistic-title,
.ant-statistic-content-value {
  color: white !important;
}

/* Use theme overrides if possible */
:root {
  --ant-primary-color: #121212;
  --ant-text-color: #fff;
}
